body{
  background: rgba(0, 100, 255, 0.7);
}

.nemo {
  height: 100px;
  width: 150px;
  margin-top: 5px;
}

.dori {
  height: 100px;
  width: 150px;
  margin-top: 5px;
}

.lane{
  height: 110px;
  width: 140px;
}

.col-md-10{
  background: rgba(0, 100, 255, 0);
  border: 1px solid green;
}
