h1 {
  position: relative;
  z-index: 1;
  color: rgb(100, 200, 150);
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

h2 {
  color: rgb(200, 100, 150);
}

a {
  color: rgb(200, 100, 150);
}

.choosePlayers {
  padding-top: 300px;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.coralReef {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.nemo {
  position: absolute;
  height: 100px;
  width: 150px;
  z-index: 2;
}

.dori {
  position: absolute;
  height: 100px;
  width: 150px;
  z-index: 2;
}

.lane{
  height: 110px;
  width: 1000px;
}

.finish{
  position: absolute;
  right: 0px;
  height: 100px;
  padding-top: 10px;
  z-index: 1;
}

.col-md-10{
  position: relative;
  z-index: 1;
  padding-top: 100px;
}

.winPopUp{
  position: absolute;
  background: rgba(0, 100, 150, 0.3);
  z-index: 2;
  text-align: center;
  padding-top: 160px;
  height: 450px;
}
